@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500&display=swap');


*{
 padding: 0;
 margin: 0;

}


#capsLockMessage {
    color: red;
    display: none;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease; 
    margin-top: 0;
}



#capsLockMessage.active {
    opacity: 1;
}



.senachub_check_termos{
    color: #284065;
    padding: 6px 12px;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    width: 360px;
    height: 38px;
    margin: 0 auto; 
    display: block; 
    margin-top: 40px;
}



.senachub_body_padrao{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(180deg, #003950 0%, rgba(0, 83, 156, 0.65) 54.5%, rgba(7, 85, 157, 0.00) 100%);
    flex-shrink: 0;
}


                                                                                    /*PARTE DO CADASTRO*/

.senachub_borda_cadastro{
    width: 412px;
    height: 701px;
    flex-shrink: 0;
    border: 1px solid #FFF;
}


.senachub_tamanho_email_cadastro::after {
    content: " *";
    color: red; 
  }


.espaco_botao{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}



.senachub_button_criar_conta{
    color: #E7E7E7;
    padding: 6px 12px;
    background-color: #284065;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-family: 'Manrope', sans-serif;
    border-radius: 4px;
    border: 1px solid #284065;
    width: 336px;
    height: 38px;
    margin: 0 auto; 
    display: block; 
}


.senachub_input_usuario{
    color: #E7E7E7;
    padding: 6px 12px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-family: 'Manrope', sans-serif;
    border-radius: 4px;
    width: 360px;
    height: 38px;
    margin: 0 auto;
    display: block; 
}

.senachub_input_todos{
    color: #E7E7E7;
    padding: 6px 12px;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-family: 'Manrope', sans-serif;
    border-radius: 4px;
    width: 360px;
    height: 38px;
    margin: 0 auto; 
    display: block; 
    margin-top: 40px;
}

                                                                                    /*PARTE DO LOGIN*/

.senachub_header{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}

.senachub_email_senha{
    display: flex;
    flex-direction: column;  
    align-self: stretch;
}

.senachub_input_email{
    display: flex;
    padding-bottom: 16px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.senachub_borda_login{
    text-align: center;
    border: 1px solid #FFF;
    width: 412px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.senachub_tamanho_logo{
    width: 137px;
    height: 68px;
}

.senachub_tamanho_titulo_login{
    color: #FFF;
    font-family: Manrope;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 38.4px */
    color: #FFFFFF;
    font-family: 'Manrope', sans-serif;
}

.senachub_tamanho_subtitulo{
    color: #E7E7E7;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    font-family: 'Manrope', sans-serif;
}


.senachub_tamanho_email{
    display: flex;
    padding-bottom: 8px;
    gap: 4px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    color: #E7E7E7;
}

.senachub_tamanho_senha{
    display: flex;
    padding-bottom: 8px;
    font-family: 'Manrope', sans-serif;
}

.senac_input_style{
    color: #E7E7E7;
    font-family: 'Manrope', sans-serif;
}

.senachub_check{
    
    color: #E7E7E7;
    display: flex;
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    display: flex;
    padding-bottom: 8px;
    align-items: center;
    align-self: stretch;
    
}

.senachub_esqueci_senha{
    margin-left: 105px;
    color: #E7E7E7; 
    text-decoration-line: underline;
}

.senachub_cor_lembrar_De_mim{
    font-family: Manrope, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.senachub_button_entrar{
    color: #E7E7E7;
    padding: 6px 12px;
    background-color: #284065;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    font-family: 'Manrope', sans-serif;
    border-radius: 4px;
    border: 1px solid #284065;
    width: 360px;
    height: 38px;
}

.senachub_nao_tem_conta{
    
    color: #284065;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}

.senachub_crie_aqui{
    color: #284065;
    font-family: Manrope;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
    text-decoration-line: underline;
}

.espaco_check{
    display: flex;
    padding-bottom: 15px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}

.espaco{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    margin-top: 30px;
}


