<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../View/styles/style.css">
    <title>SenacHub</title>
    
</head>
<body class="senachub_body_padrao">
    <header></header>
    <main class="senachub_borda_login">
        <div class="senachub_container">
            <div class="senachub_header">
                <img class="senachub_tamanho_logo" src="/Images/LogoSenac.png" alt="Logo SenacHub">
                <h1 class="senachub_tamanho_titulo_login">Entrar na sua conta</h1>
                <p class="senachub_tamanho_subtitulo">Bem-vindo de volta! Entre suas credenciais.</p>
            </div>

            <!-- INPUT DE EMAIL -->
            <div class="senac_input_style">
                <div class="senachub_email_senha">
                    <div class="senachub_input_email">
                        <label class="senachub_tamanho_email" for="exampleInputEmail1">Email</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
                        <small id="emailHelp" class="form-text text-muted"></small>
                    </div>
                </div>

                <!-- INPUT DE SENHA -->
                <div class="senac_input_style">
                    <label class="senachub_tamanho_senha" for="exampleInputPassword1">Senha</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" onkeypress="checkCapsLock(event)">
                    <div id="capsLockMessage">Caps Lock está ativado!</div>
                </div>

                <!-- INPUT DE CHECK -->
                <div class="espaco_check"></div>
                <div class="senachub_check_esqueci_a_senha">
                    <div class="senachub_check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">&nbsp; Lembrar de mim
                        <label class="senachub_cor_lembrar_De_mim" for="exampleCheck1"></label>
                        <a class="senachub_esqueci_senha" href="telaEsqueciSenha.html">Esqueci a senha</a>
                    </div>
                    <div class="espaco_check"></div>

                    <!-- BOTÃO DE ENTRAR -->
                    <button type="button" class="senachub_button_entrar">Entrar</button>

                    <!-- BOTÃO DE NÃO TEM CONTA -->
                    <div class="espaco">
                        <p class="senachub_nao_tem_conta">Não tem uma conta?<a class="senachub_crie_aqui" href="telaCadastro.html">&nbsp;Crie aqui</a></p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer></footer>

                      <!-- SCRIPTS -->
    <script>
        function checkCapsLock(event) {
            var capsLockMessage = document.getElementById('capsLockMessage');
            capsLockMessage.style.display = event.getModifierState('CapsLock') ? 'block' : 'none';
        }
    </script>

</body>
</html>
