<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/View/styles/style.css">
    <title>SenacHub</title>
</head>
<body class="senachub_body_padrao">
            <header></header>
    <main class="senachub_borda_cadastro">
        <div class="senachub_container_cadastro">
            <section class="senachub_header">
                <img class="senachub_tamanho_logo" src="/Images/LogoSenac.png" alt="Logo SenacHub">
                <h1 class="senachub_tamanho_titulo_login">Criar sua conta</h1>
                <p class="senachub_tamanho_subtitulo">Comece sua jornada!</p>
              </div>

        <!-- INPUT DE USUÁRIO -->
        <div class="senachub_email_senha">
            <div class="senachub_input_usuario">
                <label class="senachub_tamanho_email_cadastro" for="exampleInputEmail1">Usuário</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu usuário">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>
              </div>

        <!-- INPUT DE NOME -->

        <div class="senachub_email_senha">
            <div class="senachub_input_todos">
                <label class="senachub_tamanho_email_cadastro" for="exampleInputEmail1">Nome</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu nome">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>
        </div>

        <!-- INPUT DE E-MAIL -->

        <div class="senachub_email_senha">
            <div class="senachub_input_todos">
                <label class="senachub_tamanho_email_cadastro" for="exampleInputEmail1">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu e-mail">
                <small id="emailHelp" class="form-text text-muted"></small>
              </div>
        </div>

        <!-- INPUT DE SENHA -->

        <div class="senachub_input_todos">
            <div class="senachub_email_senha">
              <div class="form-group">
                <label class="senachub_tamanho_email_cadastro" for="exampleInputPassword1">Senha</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Senha" onkeypress="checkCapsLock(event)">
                    <div class="text_capslock" id="capsLockMessage">Caps Lock está ativado!</div>
              </div>
            </div>
        </div>      
        
        <!-- INPUT DE CHECK -->
            <div class="senachub_check_termos">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">&nbsp; Li e concordo com os termos
                <label class="senachub_cor_lembrar_De_mim" for="exampleCheck1"></label>
            </div>

        <!-- BOTÃO CRIAR CONTA-->

        <div class="espaco_botao"></div>
                <button type="button" class="senachub_button_criar_conta">Criar conta</button>
        
        <!-- BOTÃO CRIAR CONTA-->
        <div class="espaco">
            <p class="senachub_nao_tem_conta">Já tem uma conta?<a class="senachub_crie_aqui" href="telaLogin.html">&nbsp;Entre aqui</a></p>
          </div>
        </div>
    </main>
            <footer></footer>

                                  <!-- SCRIPTS -->
    <script>
      function checkCapsLock(event) {
          var capsLockMessage = document.getElementById('capsLockMessage');
          capsLockMessage.style.display = event.getModifierState('CapsLock') ? 'block' : 'none';
      }

      document.addEventListener('keydown', function(event) {
    var capsLockActive = event.getModifierState && event.getModifierState('CapsLock');
    var capsLockMessage = document.getElementById('capsLockMessage');

    if (capsLockActive) {
        capsLockMessage.classList.add('active');
    } else {
        capsLockMessage.classList.remove('active'); 
    }
});

    </script>
</body>
</html>